﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Result{% endblock %}

{%block content%}

<h1>Results</h1>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MSC3GPY-IMP.pdf">Pass out Student Result M.Sc (Geography)</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/LLM-1st-Sem.-Dec.-2015.pdf">Result LL.M 1st Year</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MBA-3rd-Sem.-2013.pdf">Pass out Student Result M.B.A 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MA-History-3rd-Sem.-2013.pdf">Pass out Student Result M.B.A 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MA-History-3rd-Sem.-2013.pdf">Pass out Student Result M.A (History) 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MA-History-1st-Sem.-2013.pdf">Pass out Student Result M.A (History) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MA-Hindi-1st-Sem.-2013.pdf">Pass out Student Result M.A (Hindi) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MA-English-3rd-Sem.-2013.pdf">Pass out Student Result M.A (English) 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MA-English-1-Sem.-2013.pdf">Pass out Student Result M.A (English) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MA-Economics-3rd-Sem.-2013.pdf">Pass out Student Result M.A (Economics) 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/MA-Economics-1-Sem.-2013.pdf">Pass out Student Result M.A (Economics) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/M.Sc_.-Mathematics-3rd-Sem.-2013.pdf">Pass out Student Result M.Sc (Math) 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/M.Sc_.-Mathematics-1st-Sem.-2013.pdf">Pass out Student Result M.Sc (Math) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/M.Sc_.-Geography-1st-Sem.-2013.pdf">Pass out Student Result M.Sc (Geography) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/M.Com_.-1st-Sem.-2013.pdf">Pass out Student Result M.Com 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/M.ComHons.-3rd-Sem.-2013.pdf">Pass out Student Result M.Com (Hons.) 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/M.ComHons.-1st-Sem.-2013-14.pdf">Pass out Student Result M.Com (Hons.) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/Revised-MCA-3rd-Sem.-Re-Appear.pdf">Revise Result Re-appear M.C.A 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/LLB-1st-Sem.-GZT.pdf">Revised Result (Main) LL.B 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/04/LLB-3rd-Sem.-GZT.pdf">Revised Result (Main) LL.B 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/Revised-LLB-1st-Sem.-reappear.pdf">Revised Result Re-appear LL.B 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/Revised-MA-Eco-1st-Sem-reappear.pdf">Revised Result Re-appear M.A (Economics) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/Revised-mba1-reappear-2803.pdf">Revised Result Re-appear M.B.A 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/Revised-MCA-1st-Sem.-reappear.pdf">Revised Result Re-appear M.C.A 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/Revised-MS1GPY-REAPPEAR-1.pdf">Revised Result Re-appear M.Sc (Geography) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/ma1eng-reappear.pdf">Result Re-appear M.A (English) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/ma1hin-reappear.pdf">Result Re-appear M.A (Hindi) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/ma1hisreappear.pdf">Result Re-appear M.A (History) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/MSC1MATreappear.pdf">Result Re-appear M.Sc (Math) 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/03/mba3-gzt.pdf">Result MBA 3rd sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/Revised-MA-Hindi-1st-Sem..pdf">Revised Result M.A. Hindi 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/Revised-Result-M.A.-Hindi-3rd-Sem..pdf">Revised Result M.A. Hindi 3 rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/Revised-Result-M.Sc_.-Math-3rd-Sem..pdf">Revised Result M.Sc. Math 3 rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/Revised-Result-M.Sc_.-Chemistry-1st-Sem..pdf">Revised Result M.Sc. Chemistry 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/Revised-Result-M.Sc_.-Physics-1st-Se..pdf">Revised Result M.Sc. Physics 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/REVISED-MA3_ECONOMICS-GZT.pdf">Revised Result M.A. Economics 1st Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MCA5-GZT.pdf">Result M.C.A. 5th Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MCA5-GZT.pdf">Result M.Com.(H) 5th Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MCA5-GZT.pdf">Result M.A.English 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MA3HIS-GZT.pdf">Result M.A.History 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MA3HIS-GZT.pdf">Result M.A.Hindi 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MA3HIS-GZT.pdf">Result M.C.A 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MCOM3-HONS-GZT.pdf">Result M.Com 3rd Sem</a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MS3GPY-GZT.pdf">Result M.Sc Geography 3rd sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/RE-MS3MAT-GZT.pdf">Reappear Result M.Sc Math 3rd sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/RE-MS3MAT-GZT.pdf">Result M.Sc Physics 1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MS1MAT-GZT.pdf">Result M.Sc Math1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MS1GPY-GZT.pdf">Result M.Sc Geography 1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MPED1-GZT.pdf">Result M.P.Ed 1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MCOM1H-GZT.pdf">Result M.Com. (H) 1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MCOM1-GZT.pdf">Result M.Com. 1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MCA1-GZT.pdf">Result M.C.A 1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MBA1-GZT.pdf">Result M.B.A 1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MBA1-GZT.pdf">Result M.A. History 1st sem </a></p>
<p style="text-align: center;"><a href="http://igu.ac.in/wp-content/uploads/2016/02/MA1ENG-GZT.pdf">Result M.A. English 1st sem </a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
     
{% endblock %}