﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Schedules{% endblock %}

{%block content%}

        <h1>Important Links</h1>
        <br><br>
      <h4><ul>
       

<li><a href="http://igu.ac.in/wp-content/uploads/2016/05/DateSheet2ndSemesterMay-2016.docx.pdf">Revised Theory date sheet of 2nd sem</a>
</li>
<li><a href="http://igu.ac.in/wp-content/uploads/2016/05/DateSheet4thSemesterMay-2016.pdf">Revised Theory date sheet of 4 th sem</a>
</li><li><a href="http://igu.ac.in/wp-content/uploads/2016/04/Date-Sheet-6th-Semester-May-20161.pdf">Final Theory date sheet of 6 th sem</a>
</li>
        </ul>
          </h4>

{% endblock %}