﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Chancellor{% endblock %}

{%block content%}

        <h3>Chancellor</h3>
           <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg" style="width: 75%;margin: 0.6em 0em 0.6em 0em;"  alt="Profile" src="{% static '/img/ch.jpg' %}"/>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table" id="table-big">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">Prof. Kaptan Singh Solanki</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Email ID</td>
        <td>governor@hry.nic.in</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>0172-2740654</td>
      </tr>
      <tr>
        <td>Website</td>
        <td><a href="http://www.haryanarajbhavan.gov.in/">www.haryanarajbhavan.gov.in/</a></td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>

{% endblock %}