﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | COE{% endblock %}

{%block content%}

        <h3>Controller of Examination</h3>
           <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
           <!-- <img id="fprofimg" style="width: 75%;margin: 0.6em 0em 0.6em 0em;"  alt="Profile" src="{% static 'img/coe.jpg' %}"/>   -->
           <img id="fprofimg" style="width: 75%;margin: 0.6em 0em 0.6em 0em;"  alt="Profile" src="{% static 'img/c.jpg' %}"/>  
         
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table" id="table-big">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">Dr. D.P Goel</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Email ID</td>
        <td>coe@igu.ac.in</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>01274-248555</td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>
    </body>
</html>

{% endblock %}