﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Registrar{% endblock %}

{%block content%}

<h3>Registrar</h3>
           <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg" style="width: 75%;margin: 0.6em 0em 0.6em 0em;"  alt="Profile" src="{% static 'img/reg.jpg' %}"/>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table" id="table-big">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">Dr. Madan Lal</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Email ID</td>
        <td>registrar@igu.ac.in</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>01274-248555</td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>
{% endblock %}