﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|Vice-Chancellor{% endblock %}

{%block content%}
        <h3>Vice Chancellor</h3>
           <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg" style="width: 75%;margin: 0.6em 0em 0.6em 0em;"  alt="Profile" src="{% static 'img/vc1.jpg' %}"/>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table" id="table-big">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">Prof.(Dr.) S.P. Bansal</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Email ID</td>
        <td>vc@igu.ac.in</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>01274-248753</td>
      </tr>
      <tr>
        <td>Website</td>
        <td><a href="http://www.profspbansal.com">www.profspbansal.com</a></td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>
       <div class="col-sm-12" style="text-align: justify;margin-top: 2em;">
        <p style="text-align: justify;">
        Welcome to Indira Gandhi University Meerpur, Rewari, (Haryana) a newly established state University under Indira Gandhi University Meerpur Haryana ordinance of 2013 published in the gazette of Haryana on 7th September, 2013. The visionary idea of Pandit Madan Mohan Malviya, whose name is linked with higher education in India, forms the foundation principle of this University. According to him, the University was not merely an institute meant for imparting knowledge or professional skills, but an institute which can transform individuals into responsible citizens. He wanted that the youth must be provided with integrated education having modernscientific knowledge and practical training with ethical standards. This University will work as a beacon light to remove the darkness of ignorance and lack of knowledge and to spread the golden brightness of the light of knowledge in the area.
        </p>
        <p>
        As a newly started University, it has limited courses to offer at present but in due course of time considerable number of need based courses will be started with the blessings of the Govt. of Haryana, and the number will increase with the passage of time. With minimum academic and physical infrastructure to facilitate the creation and sharing of knowledge, University is striving to achieve ever-new milestones in academic, research and innovative pursuits with team-spirit and collective efforts for realizing the vision of developing the University as a Centre of Excellence in near future.
        </p>
        <p>
        Being the Vice-Chancellor of this University, I shall endeavour to open new vistas of knowledge and employment and create synergies utilizing the existing strength and building capabilities in new and cutting edge areas of academics and research competing with the globally recognised Universities with the help of my learned colleagues and people of the area.
        </p>
        <p>
        No institute is built in a single day or by a single person. It is a pursuit that demands time, patience,team work and an all inspiring vision. Indeed, I strongly believe that it is the collective responsibility of all of us to take Indira Gandhi University Meerpur to greater heights. We know that Excellence is journey not a destination and as we take this long journey we may have to face many challenges. The onus of turning these challenges into opportunities lies in reposing faith and commitment in ourselves in accomplishing this task.
        </p>
        <p>I earnestly request all the teachers and staff of the university to bestow attention and sincere commitment in achieving the vision and mandates of the university and thereby making Indira Gandhi University Meerpur an internationally acclaimed one. I assure to extend all the support in your endeavours.
        </p>
       </div>
        <br><br>
        <p style="text-align: right;"><b>Professor S.P. Bansal</b></p>
{% endblock %}