﻿
label{
    width: 10%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]
{
    width: 12%;
}

#account ol li
{
    margin-top: 20px;
}

#accountmenu a
{
   text-decoration: none; 
   color: #fff;
}

#accountmenu a:hover
{
    color: #000;
    font-weight: 800;
   text-decoration: none;
}

#accountmenu li
{
    color: #fff;
}

#admin
{
    width: 70%;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 5%;
}

#admin label
{
    width: 20%;
}

#sidemenu
{
   min-width: 20%;
   float: left;
   height: 700px;
}

#page{
    min-width: 75%;
    width: 75%;
    float: right;
}

.adminmenu
{
    list-style: none;
}

.adminmenu li
{
    height: 20px;
    display: block;
    margin: 10px;
}

.adminmenu li a
{
    height: 25px;
    margin-left: 20px;
    vertical-align: central;
    text-decoration: none;
}

.adminmenu li a:hover
{
    text-decoration: none;
    color: #4800ff;
    font-weight: 800;
}
