    .logoheader
{
    background-image: url(../images/head-black.png);
    height: 90px;
    background-repeat: no-repeat;
    background-size: 80%;
}

@media screen and (max-width: 1366px) {
    .logoheader
{
    background-image: url(../images/head-black.png);
    height: 90px;
    background-repeat: no-repeat;
    background-size: 80%;
}
}
@media screen and (max-width: 1280px) {
    .logoheader
{
    background-image: url(../images/head-black.png);
    height: 80px;
    background-repeat: no-repeat;
    background-size: 80%;
}
}

@media screen and (max-width: 1024px) {
    .logoheader
{
    background-image: url(../images/head-black.png);
    height: 90px;
    background-repeat: no-repeat;
    background-size:100%;
}
}

@media screen and (max-width: 800px) {
    .logoheader
{
    background-image: url(../images/head-black2.png);
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100%;
}
}

@media screen and (max-width: 768px) {
    .logoheader
{
    background-image: url(../images/head-black2.png);
    
    background-repeat: no-repeat;
    background-size: 100%;
}
}

@media screen and (max-width: 640px) {
    .logoheader
{
    
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100%;
}
}

@media screen and (max-width: 480px) {
    .logoheader
{
    vertical-align: central;
    background-image: url(../images/head-black3.png);
    height: 160px;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
}

@media screen and (max-width: 320px) {
    .logoheader
{
   height: 100px;
}
}