﻿@{
     Layout="~/Shared/_layout.cshtml";
}


<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
     <body>
     <h1>Department of Sociology</h1>
        <p><h1>COURSES</h1>
      1. M. A. Sociology (2 year) Students Intake: 60 Eligibility/Pre -requisite: Bachelor degree/ Shastri examination (New Scheme) of three year duration with atleast 45% marks (42.75% marks for SC/ST candidates of Haryana) in aggregate or any other examination recognized by I.G.University, Meerpur as equivalent thereto.. Career Options: Teaching, Research, Civil Services   


</p>
        <h2>
        Faculty
        </h2>
        
               {% for fac in faculty_socio%}
        <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg"  alt="Profile" src={{ fac.pic.url}}>
             <a href={{fac.link}}><div class="col-sm-12" id="pbutton"><h4>View More..</h4></div></a>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">{{fac.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Designation</td>
        <td>{{fac.designation}}</td>
      </tr>
         <tr>
        <td>Qualification:</td>
        <td>{{fac.qualification}}</td>
      </tr>
       <tr>
        <td>Specialization</td>
        <td>{{fac.specialisation}}</td>
      </tr>
       <tr>
        <td>Experience</td>
        <td>{{fac.experience}}</td>
      </tr>
       <tr>
        <td>Email ID</td>
        <td>{{fac.email_id}}</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>fac.contact</td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>    
{%endfor%}
 
        
        
        
    </body>   
</html>
