﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | History{% endblock %}

{%block content%}

     <h1>Department of History</h1>
        <p><h1>COURSES</h1>
         
<p>
    1. M. A. History (2 year)       Students Intake: 60
Eligibility/Pre-requisite: Bachelor degree/ Shastri examination (New Scheme) of three year 
duration with atleast 45% (40% marks for SC/ST candidates of Haryana) marks in aggregate or any other examination recognized by 
I.G.University, Meerpur as equivalent thereto. Career Options: Teaching, Research.
</p>
<p>
2. M.Phil. (1 year)             Students Intake: 10
Eligibility/Pre-requisite: Master degree in the relevant subject of this University or an examination recognized as equivalent thereto 
with atleast 2nd Division i.e. 50% marks (45% marks for SC/ST candidates of Haryana only) or grade “C” in the seven point scale.
</p>
<p>
3. Ph. D. Eligibility/Pre-requisite: Master Degree with at least 55% marks in aggregate in the subject concerned or an allied 
subject (50% for SC/ST candidates of Haryana).
</p>

</p>
        <h2>
        Faculty
        </h2>
        {% for fac in faculty_his%}
        <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg"  alt="Profile" src={{ fac.pic.url}}>
             <a href={{fac.link}}><div class="col-sm-12" id="pbutton"><h4>View More..</h4></div></a>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">{{fac.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Designation</td>
        <td>{{fac.designation}}</td>
      </tr>
         <tr>
        <td>Qualification:</td>
        <td>{{fac.qualification}}</td>
      </tr>
       <tr>
        <td>Specialization</td>
        <td>{{fac.specialisation}}</td>
      </tr>
       <tr>
        <td>Experience</td>
        <td>{{fac.experience}}</td>
      </tr>
       <tr>
        <td>Email ID</td>
        <td>{{fac.email_id}}</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>fac.contact</td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>    
{%endfor%}
        
{% endblock %}