﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Commerce{% endblock %}

{%block content%}

        <h1>Department of Commerce and Management</h1>
        <p>The Faculty of Commerce & Management was established in the year 2004 as a first government management institute exclusively 
            for women candidates in North India and with the mission to produce future women leaders. 
            It started with the single course in Management. In 2009, Bachelor of Commerce (Hons. ) and B. Sc. (Hospitality and Hotel 
            Administration) were introduced and later in 2012, in response to the urge of the students, Masters in Commerce was also started. 
            During the year 2013, the department has started new courses of Bachelor of 
            Business administration, MBA in Rural Entrepreneurship Development MBA – Lateral Entry (1year ) and Ph. D. in Commerce. </p>
        <h2>
        Faculty
        </h2>
               {% for fac in faculty_comm%}
        <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg"  alt="Profile" src={{ fac.pic.url}}>
             <a href={{fac.link}}><div class="col-sm-12" id="pbutton"><h4>View More..</h4></div></a>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">{{fac.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Designation</td>
        <td>{{fac.designation}}</td>
      </tr>
         <tr>
        <td>Qualification:</td>
        <td>{{fac.qualification}}</td>
      </tr>
       <tr>
        <td>Specialization</td>
        <td>{{fac.specialisation}}</td>
      </tr>
       <tr>
        <td>Experience</td>
        <td>{{fac.experience}}</td>
      </tr>
       <tr>
        <td>Email ID</td>
        <td>{{fac.email_id}}</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>fac.contact</td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>    
{%endfor%}
   
{% endblock %}