﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|Computer Applications{% endblock %}

{%block content%}


     <h1>Department of Computer Aplications</h1>
        <p><h1>COURSES</h1>
         
</p>
        1. M. C.A. (3 years)           Students Intake: 60 
Eligibility/Pre-requisite : As prescribed by the Department of Technical Education, Govt. of Haryana, detailed information 
can be seen on website www.onlinetesthry.nic.in and www.hstes.org
</p>
<p>
2. M. C.A. (2 years)           Students Intake : 12 
Eligibility for Lateral Entry: Bachelor‘s degree of minimum three years duration in BCA, B.Sc. (Information Technology/Computer Science )
or any other examination recognized by I.G. University,  Meerpur as equivalent thereto having 50% marks 
(45% for SC/ST candidates of Haryana only) in aggregate with Mathematics as a course at 10+2 level or at Graduate level. 
Career Options : Industry, Teaching, Research, Banking
</p>
<p>
3. M.Tech Computer Science & Engg. (2 years)    Student Intake : 24     
</p>
<p>
4. Ph. D Eligibility/Pre-requisite: Master Degree with at least 55% marks in aggregate in the subject concerned or an 
allied subject (50% for SC/ST candidates of Haryana).
</p>
</p>
       >
             <h2>
        Faculty
        </h2>
           {% for fac in faculty_ca%}
        <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg"  alt="Profile" src={{ fac.pic.url}}>
             <a href={{fac.link}}><div class="col-sm-12" id="pbutton"><h4>View More..</h4></div></a>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">{{fac.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Designation</td>
        <td>{{fac.designation}}</td>
      </tr>
         <tr>
        <td>Qualification:</td>
        <td>{{fac.qualification}}</td>
      </tr>
       <tr>
        <td>Specialization</td>
        <td>{{fac.specialisation}}</td>
      </tr>
       <tr>
        <td>Experience</td>
        <td>{{fac.experience}}</td>
      </tr>
       <tr>
        <td>Email ID</td>
        <td>{{fac.email_id}}</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>fac.contact</td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>    
{%endfor%}
    
{% endblock %}