﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Law{% endblock %}

{%block content%}

     <h1>Department of Law</h1>
        <p><h1>COURSES</h1>
         
<p>
1. L. L. B (3 year):          Students Intake : 60 (Morning)
Eligibility/Pre-requisite: Bachelor/Master degree with atleast 45%  m arks (40% for SC/ST candidates of  Haryana) in aggregate or 
any other examination recognized by I.G. University, Meerpur as equivalent thereto.
</p>
<p>
2. L. L. B (3 year):          Students Intake : 60 (Evening)
Eligibility/Pre-requisite: Bachelor/Master degree with atleast 45% marks (40% for SC/ST candidates of Haryana) in aggregate 
or any other examination recognized by I.G. University, Meerpur as equivalent thereto. LLB Evening course is meant for employees 
working within 45 kms from the Faculty of Law, I.G. University, and Meerpur. The candidates for LLB 3-year Evening course will have 
to submit a certificate from their employer/ Head of the Institution/ Organisation/ Dept. that the employee will be spared for attending 
the evening classes from 5.00 p.m. to 9.00 p.m. for six days in a week at the Faculty of Law, daily (Appendix-P). Though the teaching
 classes will be held in the evening, but the students in the final year shall have to attend practical, legal aid and Courts in day time 
for training purposes.
</p>

</p>
        <h2>
        Faculty
        </h2>
        {% for fac in faculty_law%}
        <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg"  alt="Profile" src={{ fac.pic.url}}>
             <a href={{fac.link}}><div class="col-sm-12" id="pbutton"><h4>View More..</h4></div></a>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">{{fac.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Designation</td>
        <td>{{fac.designation}}</td>
      </tr>
         <tr>
        <td>Qualification:</td>
        <td>{{fac.qualification}}</td>
      </tr>
       <tr>
        <td>Specialization</td>
        <td>{{fac.specialisation}}</td>
      </tr>
       <tr>
        <td>Experience</td>
        <td>{{fac.experience}}</td>
      </tr>
       <tr>
        <td>Email ID</td>
        <td>{{fac.email_id}}</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>fac.contact</td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>    
{%endfor%}
        
{% endblock %}