﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|Botany{% endblock %}

{%block content%}

     <h1>Department of Botany</h1>
        <p><h1>COURSES</h1>
<p>        
1. M. Sc. Botany (2 year) Students Intake: 60 Eligibility/Pre -requisite: B.Sc. (Hons.) in Botany/ B.Sc. (Pass) with Botany and any two of the subjects, viz., Anthropology, Biochemistry, Biotechnology, Chemistry, Environmental Science, Genetics, Microbiology, and Zoology with atleast 50% marks marks (47.5% for SC/ST candidates of Haryana) in aggregate or any other examination recognized by I.G. University, Meerpur as equivalent thereto.. Career Options: Teaching, Research, Industry, Computer. 


</p>
        <h2>
        Faculty
        {% for fac in faculty_botany%}
        <div class="col-sm-12" id="facprofile">
         <div class="col-sm-4">
             <img id="fprofimg"  alt="Profile" src={{ fac.pic.url}}>
             <a href={{fac.link}}><div class="col-sm-12" id="pbutton"><h4>View More..</h4></div></a>  
         </div>
             <div class="col-sm-8">
                   <div class="container" style="width: 100%;font-size: 0.8em;">            
  <table class="table">
    <thead>
      <tr>
          <th></th>
        <th id="tablename">{{fac.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Designation</td>
        <td>{{fac.designation}}</td>
      </tr>
         <tr>
        <td>Qualification:</td>
        <td>{{fac.qualification}}</td>
      </tr>
       <tr>
        <td>Specialization</td>
        <td>{{fac.specialisation}}</td>
      </tr>
       <tr>
        <td>Experience</td>
        <td>{{fac.experience}}</td>
      </tr>
       <tr>
        <td>Email ID</td>
        <td>{{fac.email_id}}</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>fac.contact</td>
      </tr>
    </tbody>
  </table>
</div>  
         </div>
         </div>    
{%endfor%}
        
{% endblock %}