﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Admision-Form {% endblock %}

{%block content%}


<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div class="border" style="border: 4px solid #a51900;border-radius: 40px;margin-top: 1.5em;">
        <h4 style="color: white;font-size: 1.6em; background-color: #a51900;text-align: center;padding: 0.5em;border-radius: 10px;">INSTRUCTIONS FOR FILLING UP THE ONLINE APPLICATION FORM</h4>
        </div>
        <h3 style="font-size: 1.3em;">** The applicants are advised to read the instructions carefully before applying in the Program/ Course</h3>
        <ol style="text-align: justify;line-height: 1.5em;">
            <li style="margin-bottom: 1em;">The online application form is <b>personalized</b> for you and hence will assist you in filling your relevant information only.</li>
            <li style="margin-bottom: 1em;"><b>Do NOT create fake logins</b>, since registration requires unique Mobile Number.</li>
            
            <li style="margin-bottom: 1em;">If you do not have a mobile number, you can mention mobile number of your nearest relatives (with their permission). <b>One mobile number can be registered only once.</b></li>
            <li style="margin-bottom: 1em;">Pre-requisites for Applying Online Before applying online, candidates should have:-
Scanned copy of their Photograph within the required specifications i.e the scanned images of photographs should be in .JPG format and image must be less than 300 KB, keep the necessary details/documents ready (like Matriculation certificate, Senior Secondary, and Degree etc.)
</li>
            <li style="margin-bottom: 1em;">The processing fee for each course is Rs.800/- for General Category candidates and Rs.200/- for SC/BC and EBP of Haryana only.) </li>
            <li style="margin-bottom: 1em;">In case, if you are unable to apply online yourself, you can visit the University for Assistance. Or can contact on email: <b>admission2017@igu.ac.in</b> or 01274-248753</li>       
            <li style="margin-bottom: 1em;">The <b>application</b> must be made <b>within the specified dates</b> mentioned in the information brochure of the University. The link to 'Apply' inside your login will be disabled if admission dates are over.</li>
            <li style="margin-bottom: 1em;">Once you fill the application form successfully and apply for the Program/ Course, you will <b>have to submit the printout of filled application form</b> along <b>with necessary documents mentioned in the information brochure and proof of depositing the fee for every program/course</b> to the office of University teaching departments separately for which course you have applied. <b>Your application will not be considered valid in any case, unless printout is submitted to the concerned Department by the last date mentioned in the Information Brochure.</b></li>
            <li style="margin-bottom: 1em;">In order to get accurate information about procedure of admission, eligibility of the applicants, display of merit list, dates of counseling, submission of fee and related information, candidates are advised to read the information brochure carefully.</li>
            <li style="margin-bottom: 1em;">By Clicking on 'Apply Online' link, you agree that you have read all the instructions carefully and understood them. University will not be responsible for any mistake/ ignorance made by the applicants.</li>
        </ol>
        <h4>Make sure that :: </h4>
        <ul style="text-align: justify;line-height: 1.5em;font-weight: bold;">
            <li style="margin-bottom: 1em;">1. Making online application does not guarantee that the applicant will be admitted in the Course / Program offered by the University Teaching Departments.</li>
            
        </ul>
        
        <h4 style="text-align: center;font-size: 1em;">By Clicking on 'Apply Online' link, you agree that you have read all the instructions carefully and understood them. University will not be responsible for any mistake/ ignorance made by the applicants.</h4>
  
        <!--
        <h4 style="text-align: center;color: #34af00;border: 2px solid green;padding: 0.5em 0em 0.5em 0em;">Online admission link will open shortly</h4>
        -->
        
        <a href="http://admission.igu.ac.in/app_form.php">
       <div class="big-button" style="margin-bottom: 2em;background-color: #00aa16;">
       <h4 style="color: white;"><span class="glyphicon glyphicon-check" style="margin-right: 5px;"></span>  I have read the instructions and wish to "Apply Online"</h4> 
      </div>
    </a>
        
{% endblock %}