﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Admission {% endblock %}

{%block content%}


    <div class="col-sm-12">
     <div class="col-sm-1">
    
    </div>
         <div class="col-sm-10">
    <a href="#">
       <div class="big-button">
       <h4 style="color: white;"><span class="glyphicon glyphicon-download-alt" style="margin-right: 5px;"></span> Download Prospectus 2016-17</h4> 
      </div>
    </a>
    </div>
         <div class="col-sm-1">
    
    </div>
    </div>
         <div class="col-sm-12">
     <div class="col-sm-1">
    
    </div>
         <div class="col-sm-10">
    <a href="{% url 'admission-form'%} " >
       <div class="big-button">
       <h4 style="color: white;"><span class="glyphicon glyphicon-record" style="margin-right: 5px;"></span>Click here for online Admission 2016-17</h4> 
      </div>
    </a>
         </div>
         <div class="col-sm-1">
    
    </div>
    </div>
        <div class="col-sm-12">
     <div class="col-sm-1">
    
    </div>
         <div class="col-sm-10">
    <a href="{% url 'download-admit-card' %}">
       <div class="big-button">
       <h4 style="color: white;"><span class="glyphicon glyphicon-download-alt" style="margin-right: 5px;"></span>Download admit card</h4> 
      </div>
    </a>
         </div>
         <div class="col-sm-1">
    
    </div>
    </div>
{% endblock %}