﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|Anti-Ragging{% endblock %}

{%block content%}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
    <h1>Anti-Ragging</h1>
    <h3>Objectives of Anti Ragging Committee</h3>
        <p>Anti-Ragging Committee will be the Supervisory and Advisory Committee on matters of Planning Action for Building and Preserving a Culture of Ragging Free Environment in the University Campus. The Anti Ragging Squad will work under the Supervision of Anti Ragging Committee and to engage in the works of checking places like Hostels, Buses, Canteens, Classrooms and other places of student congregation, for any incidences of Ragging, and shall educate the students at large in the University about Menace of Ragging and related Punishment Provisions. Anti Ragging Committee will be involved in designing strategies and action plan for curbing the Menace of Ragging in the University by adopting array of activities.</p>
        <br>
        <p>The constitution of anti- Ragging committee/ Squad is as follows:</p>
    <ul>
    <li>Prof. Shri Krishan
(       Coordinator)
</li>
    <li>Prof. Manju Pruthi</li>
    <li>Dr. Subhash Chander Sharma</li>
    <li>Dr. Balkar Singh</li>
    <li>Dr. Sanjay Hooda</li>
    <li>Dr. Vijay Hooda</li>
    <li>Dr. Ishwar Sharma</li>
    </ul>

{% endblock %}