﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Cells{% endblock %}

{%block content%}

     <aside class="centerBar" >
     <h1>Cells And Clubs</h1>
     <p align="justify">Govt. of India approved a new program titled Global Initiative of Academic Networks
      (GIAN) in Higher Education aimed at tapping the talent pool of scientists and entrepreneurs, 
      internationally to encourage their engagement with the institutes of Higher Education in India
       so as to augment the country’s existing academic resources, accelerate the pace of quality reform, 
       and elevate India’s scientific and technological capacity to global excellence.In order to garner the
        best international experience into our systems of education, enable interaction of students and 
        faculty with the best academic and industry experts from all over the world and also share their
         experiences and expertise to motivate people to work on Indian problems,  there is a need for a Scheme 
         of International Summer and Winter Term. During the ‘Retreat’ of IITs with  Minister of Human Resource
          Development Smt. Smriti Zubin Irani on 29th June, 2014 at Goa, it was decided that “A system of Guest
           Lectures by internationally and nationally renowned experts would be evolved  along with a comprehensive
            Faculty Development Programme not only for new IITs, IIMs, IISERs but also other institutions in the country.</p>
            <p><b>Local Coordinator<br>Dr.Aditya Saxena<br>M:9810505144<br>E-mail:adityasaxena@cuh.ac.in</b></p>
	  <div class="clear">&nbsp;</div>             
             


                                                  
</aside>
{% endblock %}