﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Cell{% endblock %}

{%block content%}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Cells And Clubs</title>
    </head>
    <body>
        <div class=" column-sm-12" style="margin-top: 7em; margin-left: 10em; text-emphasis: initial;">
        <a href="{%url 'sc'%}"><p>SC/ST Cell</p></a>
        <a href="{%url 'women' %}"><p>Women/ Sexual Harassment Cell</p></a>
         <a href="{%url 'tnp' %}"><p>HR & Development Cell/Career Counseling, Training and Placement Cell</p></a>
        </div>

{% endblock %}