﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | DDU{% endblock %}

{%block content%}

     <aside class="centerBar">
     <h1>Deen Dayal Upadhyay Kaushal Kendra</h1>
	  <div class="clear">&nbsp;</div>             
              <ul class="arrowlist">

 <li><a href="#" target="_blank">About DDUKK</a></li>
 <li><a href="#" target="_blank">Counselling Schedule</a></li>
 <li><a href="http://cuh.ac.in/admin/uploads/files/00Second%20counselling%20detail_in%20word.pdf" target="_blank">Second Counselling &nbsp;</a></li>
 </ul>
         <b>Cut off List</b>
<ul>
<li><a href="http://cuh.ac.in/admin/uploads/files/0Retail.pdf" target="_blank">Retail and Logistic</a></li>
<li><a href="http://cuh.ac.in/admin/uploads/files/0industrial%20.pdf" target="_blank">Industrial  &amp; Waste Management</a></li>
<li><a href="http://cuh.ac.in/admin/uploads/files/0Biomedical.pdf" target="_blank">Biomedical Science</a></li>

</ul>
<b>Photo Gallery</b>
 <ul>
     <li><a href="#"target ="_blank">Gallery</a></li></ul>
 </ul>                                     
</aside>

{% endblock %}
