﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|DownloadAdmitCard{% endblock %}

{%block content%}

<table height="100%" width="100%" border="0" cellpadding="0" cellspacing="0" class="navText" id="navigation">
<tbody><tr>
         <td colspan="2" align="center"> <br><br>
        <p align="center"><strong><u>Download Admit Card</u></strong></p>
		<p align="center"><strong><u><font color="red"></font></u></strong></p>
		<script>
			function checkForm(obj)
			{
				

				if(obj.ref_id)
				{
					if(trimAll(obj.ref_id.value).length<=0)
					{
						alert( "You entered incorrectly or forgot to fill in ::\n \nPlease enter Refrence Id");
						return false;
					}else
					{
						return true;
					}
				}
			}
function trimAll(str){
	if(str.length>0)
	{
		var l=0;
		var r=str.length;
		while((ch=str.charAt(l++)) == ' ');
		while((ch=str.charAt(--r)) == ' ');
		return(0>r)?"":str.substring(l-1,r+1);
	}
	return str;
}
function checkForm1(obj)
			{
				
				
					if(trimAll(obj.s_name.value).length<=0)
					{
						alert( "You entered incorrectly or forgot to fill in ::\n \nPlease enter student name");
						return false;
					}else if(trimAll(obj.byyyy.value==0))
					{
						alert( "You entered incorrectly or forgot to fill in ::\n \nPlease enter Date of year");
						return false;
					}else if(trimAll(obj.bmm.value==0))
					{
						alert( "You entered incorrectly or forgot to fill in ::\n \nPlease enter Date of month");
						return false;
					}else if(trimAll(obj.bdd.value==0))
					{
						alert( "You entered incorrectly or forgot to fill in ::\n \nPlease enter Date of day");
						return false;
					}
					{
						return true;
					}
				
			}


		</script>
		<form name="frm" action="asd.php" method="post" onsubmit="return checkForm(this)"> 
		<table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
		<tbody><tr>  <td align="center">Refrence Id:<input type="text" id="ref_id" name="ref_id" value="">
		</td></tr>
		<tr><td align="center" style="margin-top: 5px;"><input type="submit" name="submit" value="Search By Refrence Id">
		</td></tr>
		<tr><td align="center"><hr>
		</td></tr>
		<tr><td align="center">&nbsp;
		</td></tr>
		<tr><td align="center"><form name="frm" action="asd1.php" method="post" onsubmit="return checkForm1(this)"> 
		<table width="50%" border="0" align="center" cellpadding="5" cellspacing="0">
		<tbody><tr>  <td align="center" width="15%">Student Name:</td><td colspan="3"><input type="text" id="s_name" name="s_name" value="">
		</td></tr>
		<tr>  <td></td><td>( YYYY )</td><td>( MM )</td><td>( DD )</td></tr>
		<tr>  <td>Date Of Birth:</td><td width="10%" align="right"><select name="byyyy" id="byyyy">
	<option selected="selected" value="0">. . .</option>
	<option value="2000">2000</option>
	<option value="1999">1999</option>
	<option value="1998">1998</option>
	<option value="1997">1997</option>
	<option value="1996">1996</option>
	<option value="1995">1995</option>
	<option value="1994">1994</option>
	<option value="1993">1993</option>
	<option value="1992">1992</option>
	<option value="1991">1991</option>
	<option value="1990">1990</option>
	<option value="1989">1989</option>
	<option value="1988">1988</option>
	<option value="1987">1987</option>
	<option value="1986">1986</option>
	<option value="1985">1985</option>
	<option value="1984">1984</option>
	<option value="1983">1983</option>
	<option value="1982">1982</option>
	<option value="1981">1981</option>
	<option value="1980">1980</option>
	<option value="1979">1979</option>
	<option value="1978">1978</option>
	<option value="1977">1977</option>
	<option value="1976">1976</option>
	<option value="1975">1975</option>
	<option value="1974">1974</option>
	<option value="1973">1973</option>
	<option value="1972">1972</option>
	<option value="1971">1971</option>
	<option value="1970">1970</option>
	<option value="1969">1969</option>
	<option value="1968">1968</option>
	<option value="1967">1967</option>
	<option value="1966">1966</option>
	<option value="1965">1965</option>
	<option value="1964">1964</option>
	<option value="1963">1963</option>
	<option value="1962">1962</option>
	<option value="1961">1961</option>
	<option value="1960">1960</option>
	<option value="1959">1959</option>
	<option value="1958">1958</option>
	<option value="1957">1957</option>
	<option value="1956">1956</option>
	<option value="1955">1955</option>
	<option value="1954">1954</option>
	<option value="1953">1953</option>
	<option value="1952">1952</option>
	<option value="1951">1951</option>
	<option value="1950">1950</option>
	<option value="1949">1949</option>
	<option value="1948">1948</option>

</select></td>
<td align="left" width="20%">
  <select name="bmm" id="bmm">
	<option selected="selected" value="0">. . .</option>
	<option value="1">January</option>
	<option value="2">February</option>
	<option value="3">March</option>
	<option value="4">April</option>
	<option value="5">May</option>
	<option value="6">June</option>
	<option value="7">July</option>
	<option value="8">August</option>
	<option value="9">September</option>
	<option value="10">October</option>
	<option value="11">November</option>
	<option value="12">December</option>

</select></td>
    <td class="stext" width="20%">
    <select name="bdd" id="bdd" style="width:60px;">
	<option selected="selected" value="0">. . .</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>

</select></td></tr>
		<tr><td align="center" colspan="4"><input type="submit" name="submit" value="Search">
		</td></tr>
</tbody></table></form>
		</td></tr>

</tbody></table>



</form></td></tr></tbody></table>

{% endblock %}