﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|Facilities{% endblock %}

{%block content%}

      <h1> Facilities</h1>

				 	
		
<h3>Hostels	</h3><p>	 
There are two well furnished hostel are available in the University
●	Girls
●	Boys</p>
<h3>Labs</h3>		
<p>Indira Gandhi University is having 4 lab. In two MCA lab it having i5 processor all-in- one desktop in the lab and Vertex 
    server to store software and data.</p>
<h3>Seminar hall</h3>
<p>Five seminar hall are available in the University.</p>
<h3>Residence</h3>
<p>Faculty residence is also available in the university. So student can get support from faculty any time in the campus.</p>

<h3>Internet</h3>
<p>Indira Gandhi University having 100 Mbps Internet speed facility available in the campus by the National Knowledge Network scheme 
    funded by MHRD</p>
<h3>Journals</h3>
<p>IEEE and Inflibnett journal access is available in the campus.</p>
<h3>GYM</h3>
<p>Separate gym facility for boys and girls is available in the campus.	</p>

{% endblock %}