﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|IQAC{% endblock %}

{%block content%}

    <h1>IQAC</h1>


<p style="text-align: justify;">In pursuance of the National Action Plan of the National Assessment and Accreditation Council (NAAC), Bangalore, for performance evaluation, assessment and accreditation and quality up-gradation of institutions of higher education, the NAAC proposes that every accredited institution should establish an Internal Quality Assurance Cell (IQAC) as a post-accreditation quality sustenance measure. Since quality enhancement is a continuous process, the IQAC will become a part of an institution's system and work towards realizing the goals of quality enhancement and sustenance. The prime task of the IQAC is to develop a system for conscious, consistent and catalytic improvement in the performance of institutions. The Internal Quality Assurance Cell (IQAC) in Haryana has been constituted in accordance with the guidelines provided by NAAC. The work of the IQAC is the first step towards internalization and institutionalization of quality enhancement initiatives. Its success depends upon the sense of belongingness and participation it can inculcate in all the constituents of the institution. It will not be yet another hierarchical structure or a record-keeping exercise in the institution. It will be a facilitative and participative voluntary system/unit/organ of the institution. 
</p>
The constitution of IQAC is as follows:
<ul>
<li>Prof. R. S. Pandey</li> 		(Coordinator) 
<li>Prof. Shri Krishan</li>
<li>Prof. Tej Singh</li>
<li>Prof. Manju Pruthi</li>
<li>Prof. Nikhilesh Yadav</li>
<li>Dr. D. P. Goyal</li>
<li>Dr. Meera Bamba</li>
<li>Dr. Rajkumar</li>
</ul>

{% endblock %}