﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|StudentCorner{% endblock %}

{%block content%}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
     <h1>Coming Soon</h1>

{% endblock %}