
{% load staticfiles%}
<!--<!DOCTYPE html>-->

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Welcome to Homepage</title>
    {% include 'head_css.html' %}        
        
    </head>
    <body>
         <div class="row">
        <div class="col-sm-12 col-xs-12" id="tophead">
            <img style="width: 100%;"  src="{% static 'img/header.png'%}" alt="logo"/>
  
      {% include 'navbar.html' %}
           </div>
              <div class="col-sm-12 col-xs-12">
              <div class="col-sm-1" style="background-color: #a51900;padding: 0.1em 0em 0.1em 0em;border-radius: 0px 0px 5px 20px;color: rgba(0, 0, 0, 0.00);">
                </div>
             <div class="col-sm-10" style="font-size: 1.2em;color: red;text-decoration: none;">
                 <!-- Marque -->
                 {% include 'marque.html' %}
                 
                 </div>
             <div class="col-sm-1" style="background-color: #a51900;padding: 0.1em 0em 0.1em 0em;border-radius: 0px 0px 20px 5px;color: rgba(0, 0, 0, 0.00);">
                 aca
             </div>     
              </div>
              <!-- SliderCarousel -->
             <div class="col-sm-12 col-xs-12">
                
                  {% include 'sidebar.html' %}
                
             <div class="col-sm-7 col-xs-12">
             <div class="container" style="width: 105%;margin-left: -2em;">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>  
    </ol>

    <!-- Wrapper for slides -->
    {% include 'slider.html' %}
                  <!-- @RenderBody() -->
{% block content %}

{% endblock %}
</div>
             </div>
              
                 <div class="col-md-3 col-xs-3">
                     
<div class="panel panel-default">
<div class="panel-heading"><h4 style="margin-left: 2em;"><b>Notices</b></h4></div>
<div class="panel-body">
<div class="row">
<div class="col-xs-12">
<ul class="demo1">
     @foreach(var notice in notices)
                    {
                        <li class="news-item">@if(notice.text == "")
                            {var url = notice.link;
                            <text>
                               <a href="@url" target="_blank" >@notice.heading</a>
                            </text>
                            }
                            else
                            {var url = notice.link;
                            <text>
                               <a href="@url" target="_blank" >@notice.heading</a>
                            </text>
                            } 
                        </li>
                        
                    }
               
                    </ul>
</div>
</div>
</div>
<div class="panel-footer"> </div>
</div>
                    <div class="panel panel-default">
<div class="panel-heading"><h4 style="margin-left: 2em;"><b>Announcements</b></h4></div>
<div class="panel-body">
<div class="row">
<div class="col-xs-12">
<ul class="demo1">

                   @foreach(var announcements in announcement)
                    {
                        <li class="news=item sideno">@if(announcements.text == "")
                            {var url = announcements.link;
                            <text>
                               <a href="@url" target="_blank">@announcements.heading</a>
                            </text>
                            }
                            else
                            {var url = announcements.link;
                            <text>
                               <a href="@url" target="_blank">@announcements.heading</a>
                            </text>
                            } 
                        </li>
                        
                    }
                       
                    </ul>

  
</div>
</div>
</div>
<div class="panel-footer"> </div>
</div>


</div>
                 </div>
 <div class="col-sm-12 col-xs-12" id="foot">
                 <div id="footer">
                      <div class="col-sm-2 col-xs-12">
<!--                 <a href="#"><span class="glyphicon glyphicon-arrow-up" style="margin-right: 5px;"></span>Go to Top</a>
            <!-- Start of SimpleHitCounter Code -->
<div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2122765&f=16777215&b=0" border="0" height="18" width="83" alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">web counter</a></div>
<!-- End of SimpleHitCounter Code -->

           </div>
                      <div class="col-sm-3 col-xs-12">
                          <div class="col-sm-12">Helpline  01274-248753  admissionigu2016@gmail.com</div>
                          <div class="col-sm-12">FAX : 01274 – 248753</div>
                          
                      </div>
                      <div class="col-sm-3 col-xs-12">
                          <div class="col-sm-12">Social links</div>
                          <div class="col-sm-12">
                              <a id="hovermedb" target="_blank" href="https://www.facebook.com/iguniversity"><img alt="social" src="@Href("~/img/glyphicons-social-31-facebook.png")"></a>
                              <a id="hovermeb" target="_blank" href="https://twitter.com/igu_meerpur"><img alt="social" src="@Href("~/img/glyphicons-social-32-twitter.png")"/></a>
                              <a id="hovermered" target="_blank" href="https://plus.google.com/u/0/114253492920458617194"><img alt="social" src="@Href("~/img/glyphicons-social-3-google-plus.png")"/></a>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-12"> 
            <div class="col-sm-12"> 
            <a target="_blank" href="http://www.urbanfrost.org" style="text-align: center;">Designed & Developed by UrbanFrost</a>
             </div>
            <div class="col-sm-12"> 
            <a href="#" style="text-align: left;">All Rights &copy; reserved to IGU</a></div>
                
                </div>
              </div>  
            </div>
            
             
        </div>
         
{% include 'javascript.html' %}
    </body>
</html>
