{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Welcome to IGU Meerpur{% endblock %}</title>

<!-- Stylesheets -->
{% include 'head_css.html' %}        
        
    </head>
    <body>
         <div class="row">
        <div class="col-sm-12 col-xs-12" id="tophead">

            <img style="width: 100%;"  src="{% static 'img/header.png' %}" alt="logo"/>
{% include 'navbar.html' %}
              <div class="col-sm-12 col-xs-12">
              <div class="col-sm-1" style="background-color: #a51900;padding: 0.1em 0em 0.1em 0em;border-radius: 0px 0px 5px 20px;color: rgba(0, 0, 0, 0.00);">
                  asx
                </div>
{% include 'marque.html' with marques=marques only%}             
             <div class="col-sm-1" style="background-color: #a51900;padding: 0.1em 0em 0.1em 0em;border-radius: 0px 0px 20px 5px;color: rgba(0, 0, 0, 0.00);">
                 aca
             </div>     
              </div>
             <div class="col-sm-12 col-xs-12">
                
{% include 'sidebar.html' %}

             <div class="col-sm-7 col-xs-7">
             <div class="container" style="width: 105%;margin-left: -2em;">
  <br>
  {% block slider%}
  {% endblock %}
</div>
  {% block content %}
  {% endblock %}
             </div>
              
                 <div class="col-md-3 col-xs-3">

{% include 'notice.html' with notices=notices only %}

{% include 'announcement.html' with announcements=announcements only %}

{% include 'result.html' with results=results only %}


</div>
                 </div>
 
 <div class="col-sm-12 col-xs-12" id="foot">
                 <div id="footer">
                      <div class="col-sm-2 col-xs-12">
<!--                 <a href="#"><span class="glyphicon glyphicon-arrow-up" style="margin-right: 5px;"></span>Go to Top</a>
						<!-- Start of SimpleHitCounter Code -->
<div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2122765&f=16777215&b=0" border="0" height="18" width="83" alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">web counter</a></div>
<!-- End of SimpleHitCounter Code -->

					 </div>
                      <div class="col-sm-3 col-xs-12">
                          <div class="col-sm-12">Helpline  01274-248753  admission2017@igu.ac.in</div>
                          <div class="col-sm-12">FAX : 01274 – 248753</div>
                          
                      </div>
                      <div class="col-sm-3 col-xs-12">
                          <div class="col-sm-12">Social links</div>
                          <div class="col-sm-12">
                              <a id="hovermedb" target="_blank" href="https://www.facebook.com/iguniversity"><img alt="social" src="{% static 'img/glyphicons-social-31-facebook.png' %}"></a>
                              <a id="hovermeb" target="_blank" href="https://twitter.com/igu_meerpur"><img alt="social" src="{% static 'img/glyphicons-social-32-twitter.png' %}"/></a>
                              <a id="hovermered" target="_blank" href="https://plus.google.com/u/0/114253492920458617194"><img alt="social" src="{% static 'img/glyphicons-social-3-google-plus.png' %}"/></a>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-12"> 
            <div class="col-sm-12"> 
            <a target="_blank" href="http://www.urbanfrost.org" style="text-align: center;">Designed & Developed by UrbanFrost</a>
             </div>
            <div class="col-sm-12"> 
            <a href="#" style="text-align: left;">All Rights &copy; reserved to IGU</a></div>
                
                </div>
              </div>  
            </div>
            
             
        </div>
         
{% include 'javascript.html' %}                 

    </body>
</html>
