<div class="col-sm-10" style="font-size: 1.2em;color: red;text-decoration: none;">
                 <marquee> 
                     {%for marq in marques%}
                     
                     <span style="margin-right: 20px;"><a href={{marq.link}}>{{marq.title}}</a></span> 

                     {% endfor %}

                 </marquee>
                 
                 </div>