{% load staticfiles %}
        <div class="col-sm-12" id="tophead">
             <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'Index'%}"><span class="glyphicon glyphicon-home" style="margin-right: 5px;"></span>Home</a></li> 
        <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                         <li><a href="{% url 'about' %}">About IGU</a></li>
                         <li><a href="{% url 'visionmission' %}">Vision & Mission</a></li>
                         <li><a href="http://igu.ac.in/wp-content/uploads/2016/03/Haryana-Act-No.29-of-2013.pdf">University Act</a></li>
                    </ul>
        </li>
           <li class="dropdown dropdown-submenu">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% static 'PDFS/AcademicStructure.pdf' %}">Academic Structure</a>
                        </li>
                           <li > <a class="trigger right-caret">Faculties<span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;margin-top: 0px;float: right;opacity:0.5;"></span></a>
            <ul class="dropdown-menu sub-menu" data-toggle="dropdown" id="submenu">
                     <li > <a class="trigger right-caret">Humanities<span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float: right;opacity:0.5;"></span></a>
                     <ul class="dropdown-menu sub-menu" data-toggle="dropdown" id="submenu">
                         <li><a href="{% url 'english' %}" class="trigger right-caret">Dept. of English</a></li>
                         <li><a href="{% url 'hindi' %}" class="trigger right-caret">Dept. of Hindi</a></li>
                         <li><a href="{% url 'sanskrit' %}">Dept. of Sanskrit</a></li>
                         <li><a href="{% url 'journalism' %}">Dept. of Journalism & Mass Communication</a></li>
                     </ul>
                     </li>
                     <li > <a class="trigger right-caret">Social Science<span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float: right;opacity:0.5;"></span></a>
                     <ul class="dropdown-menu sub-menu" id="submenu">
                         <li> <a href="{% url 'history' %}" class="trigger right-caret">Dept. of History</a></li>
                         <li> <a href="{% url 'economics' %}" class="trigger right-caret">Dept. of Economics</a></li>
                        
                         <li><a href="{% url 'political-science' %}">Dept. of Pol. Science</a></li>
                         <li><a href="{% url 'sociology' %}">Dept. of Sociology</a></li>
                     </ul>
                     </li>
                     <li > <a class="trigger right-caret">Sciences<span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float: right;opacity:0.5;"></span></a>
                     <ul class="dropdown-menu sub-menu" id="submenu">
                         <li><a href="{% url 'mathematics' %}" class="trigger right-caret">Dept. of Mathematics</a></li>
                         <li><a href="{% url 'physics' %}">Dept. of Physics</a></li>
                         <li><a href="{% url 'chemistry' %}">Dept. of Chemistry</a></li>
                         <li><a href="{% url 'botany' %}">Dept. of Botany</a></li>
                         <li><a href="{% url 'zoology' %}">Dept. of Zoology</a></li>
                         <li><a href="#">Dept. of Micro-Biology</a></li>
                     </ul>
                     </li>
                     <li > <a class="trigger right-caret">Faculty of Education<span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float: right;opacity:0.5;"></span>
                     </a>
                     <ul class="dropdown-menu sub-menu" id="submenu">
                         <li><a href="#">Dept. of Physical Education</a></li>
                         <li><a href="#">Dept. of Education</a></li>
                     </ul>
                     </li>
                     <li > <a class="trigger right-caret">Engineering & Technology<span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float: right;opacity:0.5;"></span></a>
                      <ul class="dropdown-menu sub-menu" id="submenu">
                         <li><a href="{% url 'computer-applications' %}">Dept. of Computer Science & Engineering</a></li>
                         <li><a href="{% url 'civil' %}">Dept. of Civil Engineering</a></li>
                         <li><a href="{% url 'mechanical' %}">Dept. of Mechanical Engineering</a></li>
                          <li><a href="{% url 'printing-technology' %}">Dept. of Printing Technology</a></li>
                            
                      </ul>
                     </li>
               <li > <a class="trigger right-caret">Information Technology<div class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float:right;opacity:0.5;"></div></a>
                <ul class="dropdown-menu sub-menu" id="submenu">
                         <li> <a href="{% url 'computer-applications' %}"class="trigger right-caret">Dept. of Computer Applications</a></li>
                        
                     </ul>
                </li>
                 <li > <a class="trigger right-caret">Law<div class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float:right;opacity:0.5;"></div></a>
                <ul class="dropdown-menu sub-menu" id="submenu">
                         <li> <a href="{% url 'law' %}" class="trigger right-caret">Dept. of Law</a></li>
                        
                     </ul>
                </li>
                       
                     <li > <a class="trigger right-caret">Commerce, Management & Tourism Management<div class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;opacity:0.5;"></div></a>
                     <ul class="dropdown-menu sub-menu" id="submenu">
                         <li><a href="{% url 'commerce' %}" class="trigger right-caret">Dept. of Commerce</a></li>
                         <li><a href="#">Dept. of Management</a></li>
                         <li><a href="#">Dept. of Tourism & Management</a></li>
                  
                     </ul>
                     </li>
                         <li > <a class="trigger right-caret">Medical Sciences<span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float: right;opacity:0.5;"></span></a>
                         <ul class="dropdown-menu sub-menu" id="submenu">
                         <li><a href="#">Dept. of Pharmaceutical Sciences</a></li>               
                     </ul>
                         
                         </li>     
                <li > <a class="trigger right-caret">Earth, Environment & Space Sciences<span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;float: right;opacity:0.5;"></span></a>
                         <ul class="dropdown-menu sub-menu" id="submenu">
                         <li><a href="{% url 'geography' %}">Dept. of Geography</a></li>               
                     </ul>
                         
                         </li>         
            </ul>
                            
                         </li>
                         <li><a href="{% static 'PDFS/Dean of Faculty.pdf' %}">Deans</a></li>
                         <li><a href="{% static 'PDFS/Academic Calender.pdf' %}">Calendar of Activities</a></li>
                        
                         <li><a href="{% static 'PDFS/AcademicSchedule.pdf' %}">Academic Calendars</a></li>
                         <li><a href="#">List of holidays </a></li>
                         <li><a href="#" class="trigger right-caret">Useful Links  </a>
                            <ul class="dropdown-menu sub-menu" id="submenu">
                                    <li> <a href="http://www.ugc.ac.in/">UGC</a></li>
                                    <li> <a href="http://www.aicte-india.org/">AICTE</a></li>
                                    <li> <a href="http://ncte-india.org/ncte_new/">NCTE</a></li>
                                    <li> <a href="http://www.pci.nic.in/">PCI</a></li>
                                    <li> <a href="http://www.barcouncilofindia.org//">BCI</a></li>
                            </ul>
                         </li>
                    </ul>
        </li>
       <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Governance<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="trigger right-caret">Statutory  </a>
                           <ul class="dropdown-menu sub-menu">
                               <li> <a href="{% static 'PDFS/EC_Members.pdf' %}">Executive Council</a></li>
                               <li> <a href="{% static 'PDFS/Academic_Council_Members.pdf' %}">Academic Council</a></li>
                               <li> <a href="#">Court</a></li>
                           </ul>
                        </li>
                      </ul>
       </li>
        <li> 
            <a href="{% url 'library' %}"> Central Library</a></li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'chancellor' %}">Chancellor</a></li>
                        <li><a href="{% url 'vicechancellor' %}"> Vice Chancellor</a></li>
                        <li><a href="{% url 'registrar' %}"> Registrar</a></li>
                        <li><a href="{% url 'deanacad' %}"> Dean Academic Officer</a></li>
                        <li><a href="{% url 'coe' %}"> Controller of Examination</a></li>
                        <li><a href="{% url 'fo' %}"> Finance Officer</a></li>
                        
                    </ul></a></li>
          
          <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examination<b class="caret"></b></a>
                    <ul class="dropdown-menu">
{#                        <li><a href="{% url 'results' %}"> Result</a></li>#}
                        <li><a href="http://result.igu.ac.in"> Result</a></li>
                        <li><a href="{% url 'schedules' %}">Schedules</a></li>
                    </ul></a></li>
           <li><a href="{% url 'contact' %}">Contact Us</a></li>  
      </ul>
      
    </div>
  </div>
</nav>
       
        </div>
           </div>
