{% load staticfiles %}
<div class="panel panel-default">
<div class="panel-heading"><h4 style="margin-left: 2em;"><b>Results</b></h4></div>
<div class="panel-body">
<div class="row">
<div class="col-xs-12">
            <ul class="demo1">
    {% for result in results%}
    
        {% if result.link %}
                        <li class="news-item">
                               <a href={{result.link}} >{{result.title}}</a>
                        </li>
        {% endif %}
        {% if result.pic %}
                        <li class="news-item">
                               <a href={{ result.pic.url }} >{{result.title}}</a>
                        </li>
        {% endif %}
                    
    {% endfor %}                    
                        
                    
               
            </ul>
</div>
</div>
</div>
<div class="panel-footer"> </div>
<!-- <div class="panel-footer"> <ul class="pagination pull-right" style="margin: 0px;"><li><a href="#" class="prev"><span class="glyphicon glyphicon-chevron-down"></span></a></li><li><a href="#" class="next"><span class="glyphicon glyphicon-chevron-up"></span></a></li></ul><div class="clearfix"></div></div> -->
</div>

