{% load staticfiles %}

<div class="col-sm-2 col-xs-3">
                         <div class="sidebar">
                     <a href="{% url 'admission' %}"><div class="button">
                     <h4>Admission <span  id="admission" style="margin-left: 1em;" class="glyphicon glyphicon-bullhorn"></span><span  id="admission" style="font-family: Calibri;font-size: 0.9em;"> New</span></h4>
                     </div></a>
                          <a href="{% url 'iqac' %}"><div class="button">
                     <h4>IQAC</h4>
                     </div></a>
                          <a href="http://journal.igu.ac.in"><div class="button">
                     <h4>University Journals</h4>
                     </div></a>
                          <a href="{% url 'facilities' %}"><div class="button">
                     <h4>Facilities</h4>
                     </div></a>
                          <a href="{% url 'cell' %}"><div class="button">
                              <h4>Cells And Clubs</h4>
                     </div></a>
                          <a href="http://syllabus.igu.ac.in"><div class="button">
                     <h4>Syllabus</h4>
                     </div></a>
                          <a href="#"><div class="button">
                     <h4>Email Directory</h4>
                     </div></a>
                          <a href="{% url 'anti-ragging' %}"><div class="button">
                     <h4>Anti-Ragging</h4>
                     </div></a>
                          <a href="#"><div class="button">
                     <h4>Jobs</h4>
                     </div></a>
                          <a href="#"><div class="button">
                     <h4>Tenders</h4>
                     </div></a>
                       <a href="{% static 'PDFS/RTI.pdf' %}"><div class="button">
                     <h4>RTI</h4>
                     </div></a>
                          <a href="#"><div class="button">
                     <h4>Academic Events</h4>
                     </div></a>
                       <a href="http://gmail.com"><div class="button" id="webmail">
                     <h4 id="web">WebMail</h4>
                     </div></a>  
                         </div>
             </div>
