{% load staticfiles %}
    <!-- Wrapper for slides -->
    
    <div class="carousel-inner" role="listbox">

      {%for %}
      <div class="item active">
        <img src="{% static 'slider/5.jpg' %}" alt="Chania">
        <div class="carousel-caption">
        



        
          <p></p>
        </div>
      </div>

        <div class="item">
        <img src="{% static 'slider/4.jpg' %}" alt="Chania">
        <div class="carousel-caption">
        
          <p></p>
        </div>
      </div>
      <div class="item">
        <img src="{% static 'slider/3.jpg' %}" alt="Chania">
      </div>
    <div class="item">
        <img src="{% static 'slider/123.jpg' %}" alt="Chania">
      </div>

      <div class="item">
        <img src="{% static 'slider/1.jpg' %}" alt="Flower">
        <div class="carousel-caption">
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'slider/2.jpg' %}" alt="Flower">
        <!--<div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
    -->
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

                  {% block content %}
                  {% endblock %}
</div>
             </div>
