body {
	margin: 0 0 200px;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
}
a,
.galleryThumbnails img {
	transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
}
.galleryContainer {
	margin: 40px auto;
	width: 900px;
}
.galleryPreviewContainer {
	position: relative;
}
.galleryPreviewImage img {
	display: none;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	box-shadow: 5px 5px 0 0 #c1c1c1;
	position: relative;
	top: 0;
	left: 0;
}
img.previewImage1 {
	display: block;
}
.galleryPreviewArrows a {
	font-family: Arial;
	font-size: 30px;
	background: rgba(0,0,0, 0.3);
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: block;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -35px;
}
a.nextSlideArrow {
	right: 20px;
	left: auto;
}
.galleryPreviewArrows a:hover {
	background: #000;
	margin-top: -40px;
}
.galleryNavigationBullets {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}
.galleryNavigationBullets span {
	display: none;
}
.galleryNavigationBullets a {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
	background: #ddd;
}
.galleryNavigationBullets a:hover,
.galleryNavigationBullets a.active {
	background: #555;
}
.galleryThumbnailsContainer {
	width: 900px;
	overflow-x: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	padding: 20px 0;
}
.galleryThumbnails {
	width: 2000px;
}
.galleryThumbnails img {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin-right: 10px;
	border: 4px solid #e0e0e0;
	position: relative;
	top: 0;
}
.galleryThumbnails a:hover img {
	top: -5px;
	border: 4px solid #999;
}
.galleryThumbnails a.active img {
	border: 4px solid #F00;
}