body{
    width: 97.8%;
    margin: auto;
}
p {
   color:#3a3a3a;
   text-align: justify;
}
#table-big{
    color: #3a3a3a;
}
h1 {
  color: #ff6a00;
}
h2 {
  color: #ff6a00;
}
h3 {
  color: #ff6a00;
}
h4 {
  color: #ff6a00;
}
.button > h4 {
    color: white;
}
.panel-heading > h4{
    color: white;
}
.navbar-inverse{
    border-radius: 0;
    background: transparent;
    border: 0px;
    text-decoration: none;
    margin-left: 0em;
   
}
#tophead{
    background-color: #a51900;
    font-size: 1.1em;
    font-weight: 400;
}
.navbar{
    margin-bottom: 0em;
    margin-left: 4em;
}

down vote
accepted
ul.nav li a, ul.nav li a:visited {
    color: white; !important;
}
ul.nav li a, ul.nav li a:hover{
   color: white;
  text-shadow: 0.1em 0.1em 0.1em black;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #ff6a00; !important;
  text-shadow: 0.1em 0.1em 0.1em black;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color: transparent;
  color: #ff6a00;
  text-shadow: 0.1em 0.1em 0.1em black;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background-color: #771301;
    
}
.panel{
    color: #410400;
    border: 0px;
}
.panel-default > .panel-heading{
    background: transparent;
    padding: 1px;
    margin-top: 1.6em;
    color: white;
    background-color: #a51900;
}
.panel-default > .panel-body{
    padding: 0px;
     color: #808080;
    background-color: transparent;
}
.panel-default > .panel-footer{
   background: transparent;
    color: white;
    background-color: #a51900;
}

.sec-head{
    background-color: #a51900;
    padding: 0.4em;
    color: white;
    border-radius: 4px 4px 0px 0px;
}
.sec-head-text{
    margin-left: 3em;
    
}
.text-area{
    text-align: justify;
    padding: 1em;  
}
.text-area-small{
    text-align: justify;
    padding: 0em 0.2em 1em 0.2em;  
}
.sections{
   padding: 0px;
   
}
.sidebar{
    margin-top: 1.5em;
}
.big-button{
    font-size: 25px;
    background-color: #a51900;
    color: white;
    padding: 8px 0em 8px 0em;
    width: 100%;
    margin-top: 0.5em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}
.big-button:hover{
    background-color: #ff6a00;
    animation-name: big-button-hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes big-button-hover{
    0%{background-color: #a51900;border:}

100%{background-color: #ff6a00;border:}

}
.button > a:hover{
    text-decoration: none;
}
.button{
    background-color: #a51900;
    color: white;
    margin-left: -2em;
    padding: 1px 0em 1px 2em;
    width: 105%;
    margin-top: 0.5em;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    border-radius: 0px 5px 5px 0px;
}
.button:hover{

    animation-name: button-hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes button-hover{
    0%{width: 105%;background-color: #a51900;}
50%{width: 120%;}
100%{width: 110%;background-color: #ff6a00;}
}

#hovermedb:hover{
background-color: #00339d;
}
#hovermeb:hover{
background-color: #00e3d5;
}
#hovermered:hover{
background-color: #f00;
}

#webmail{
    background-color: white;
    border-bottom: 3px solid #a51900;
    border-top: 3px solid #a51900;
    border-right: 3px solid #a51900;
}
#web{
    background-color: #a51900;
    padding: 0.5em 0em 0.5em 1em;
    margin: 0em 0em 0em -1.2em;
}
#webmail:hover{
    width: 110%;
    background-color: white;
    animation-name: webmail-hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes webmail-hover{
    0%{width: 105%;}
50%{width: 125%;}
100%{width: 110%;}
}
#admission{
   color: #a51900;
    animation-name: admission;
    animation-duration: 400ms;
    animation-iteration-count: 6000;
}
@keyframes admission{
    0%{color: #a51900;}
50%{color: white;}
100%{color: #a51900;}

}

.dropdown-menu{
    background-color: #a51900;
}
.dropdown-menu > li > a:hover{
    background-color: #781200;
    text-decoration: none;
    color: white; 
}
.dropdown-menu > li > a:focus{
    background-color: #7b1200;
}
dropdown-toggle{
    background-color: black;
}
#tabs-left{
    margin-left: -2em;
}

#pbutton{
    background-color: #a51900;text-align: center;margin-top: 1.5em;color: white;
    font-size: 1.4em;
    padding: 0.3em 0em 0.3em 0em;
}
#pbutton:hover{
    animation-name: pbuttonhover;
    animation-duration: 50s;
}
@keyframes pbuttonhover{
    0%{}
    1%{box-shadow: 0.1em 0.1em 0.1em black;background-color: #f00;}
    100%{}
}
#facprofile{
    border-top: 2px solid #bfbfbf;
}
#fprofimg{
    width: 100%;margin-top: 3em;
    box-shadow: 0.1em 0.1em 0.3em black;
}
#tablename{
    font-size: 1.5em;
}
#table-big{
    font-size: 1.2em;
}
.navbar-inverse .navbar-nav > li > a{
    color: white;
}
#foot{
    background-color: #a51900;
}
#footer{
    text-align: center;
    padding: 0.5em 0em 3em 0em;
    color: white;
    border-radius: 0px 0px 0px 0px;
    
}
#footer a{
    
    color: white;
    font-size: 1.1em;
   
}
#submenu{
    position: absolute;
    top: auto;
    left: 98%;
    box-shadow: -0.2em 0.2em 0.2em rgba(0, 0, 0, 0.49);
}
#submenu > li{
    border-bottom: 1px solid #721100;
}
.dropdown-menu > li{
    border-bottom: 1px solid #721100;
}
.sideno{
    margin-top: 0.5em;
}