﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | About{% endblock %}
{%block content%}
      <h3>About IGU</h3>
<p style="text-align: justify;">The Indira Gandhi University Meerpur, Rewari was established through an ordinance promulgated by the Governor of Haryana on Sept. 07, 2013. It started its functioning from Sept.13, 2013. The university has been determined to develop all round personality of students by making them not just outstanding professionals but also good individuals with ingrained human values and commitment to expand the frontiers of knowledge for the advancement of society. Further for the purpose of imparting education in Arts, Science, Information Technology, Computer Education, Commerce, Humanities, Management and to achieve excellence in these and connected fields of the learned professions the university tends
to promote study and research for the further advancement of learning in education. The university campus is situated in village Meerpur at a distance of about 13 Km from district headquarter of Rewari, and is about 300 kms from Chandigarh, the State Capital. It is well-connected both by rail as well as road. Rewari is the education hub of the State with excellent facilities for education in all fields of knowledge.
    </p>
<p>
<b>Campus</b>

The university is spread over about 100 acres of land in lush green area is well laid with state-of the-art buildings and magnificent road network, presents a manifestation of harmony in architecture and natural beauty. Before coming in to existence as an independent State University it was the Post Graduate Regional Centre of Maharishi Dayanand University, Rohtak which was established on 03.10.1988. At present University run 13 Post Graduate courses in 10 teaching departments. Apart from this, five departments are running M. Phil. program and 08 departments are running Ph.D. This session, the university is launching 07 other courses in Law, Physical Education, Music (Vocal), Physics, Computer science, Mathematics. The University also started Ph. D in Physics, Law and M. Phil. program in Hindi and Geography. There are two separatespacious Hostels for boys and girls and about 16 residential units available for the faculty members and non-teaching staff of the university. There is a robust university Campus with Wide Network - an amalgam of cable and wi-fi technologies, with 1 Gbps internet connectivity. Branch of Oriental bank of Commerce is the banking facility available on the Campus. 
</p>
<p>
<b>University Library</b>

The University Library System comprises a central library, strategically located, with excellent state-of -the art computer facilities and stress free environment. The library system, with the elegance, provides support for the academic and research pursuits. It has a rich collection of knowledge resources, volumes of books & volumes of journals. Besides, many Indian and foreign journals of repute are subscribed in print form. Online access is provided to the e-Journals through UGC- Info net facility, IEEE, Open ournals. All the divisions / sections of the library have their own PCs for data entry and other routine jobs. The library has its own Internet with connectivity to the Campus Network for providing access to its own database & e-resources. The air-conditioned Internet lab of the Library, having 60 Internet connected computer terminals with a bandwidth connectivity of 1 Gbps, provides access to e-journals and other e-resources. Application of RFID technology for check-out check-in and CCTV are installed for security purpose. Photocopying service is another step towards bridging the gap between the knowledge seekers and the knowledge resources. The University is planning to invest over Rs.100 lacs annually on the enrichment of knowledge base, besides having substantial recurring and nonrecurring budget for other library activities including upgradation of existing facilities. Building of a new library with the name Bal Mukand Gupt Library is under construction which will be available to the studnets after a few months with all the latest facility.
</p>

<p>
<b>Computer and Internet facilities</b>

The University has modern high-tech Campus Network. It is wrapped around OFC and wi-fi
Technologies. All the departments/offices/hostels are linked to the Campus Network. The University has a Computer Centre for the benefit of students, research scholars, teachers and
other staff. The Computer Centre conducts computer awareness programmes for the staff from
time to time, and facilitates analysis of research data of the research scholars. Besides the central
facility, majority of the departments have their own computer labs.
</p>
<p>
<b>Hostels</b>

The University provides residential accommodation on the campus to 240 students in the new
hostels, each with accommodation for 120 residents, in for the allotment in the Session 2015-16.
Maintenance of sanitized and compassionate environment in the hostel complexes and provision
of hygienic food at reasonable charges always remains the endeavor of the university authorities. Mess in each hostel is run by the residents on cooperative basis. Each hostel has facilities for indoor games, recreation, STD, and canteen. Each Girls' Hostel is looked after by Lady Warden. The construction of more hostels - each for boys and girls- has been undertaken in new plan.
</p>
<p>
<b>Sports Facilities</b>

For harnessing the potential of the youth and promoting sports in the University, creation of
excellent infrastructure including two ultra modern Gymnasium Hall for all indoor activities is in the process. The Directorate organizes various inter-departmental tournaments for men and women players and coaching camps for its students and deputes the teams for participation in interuniversity tournaments and national games. With the state-of-the-art infrastructure in place and emphasis placed on sports, the University can be adjudged as the 'sports kindergarten.'
</p>
<p>
<b>University Health Centre</b>

To cater to the primary health care need of the University community Primary Health Center is
established near by. At the1st Aid center in university one nurse is available in the campus for
whole time. A charitable cancer hospital with all modern facilities is in the village.
</p>
<p>
<b>Cafeteria</b>

New Species cafeteria is also available in university for the relaxation of the students & faculty.
</p>
<p>
<b>National Service Scheme</b>

The National Service Scheme provides an opportunity to the students to understand, appreciate
and imbibe the socio-economic conditions and problems of the society and to inculcate in them a
sense of social consciousness and dignity of labour as well as bring them closer to the community. Students enrolled under the Scheme have to render 120 hours of Community Service, and to participate in NSS Special Camps every year. The students also get opportunities to participate in the Youth Leadership Training Camp, Youth Festivals, National Integration Camps, Adventure Programmes, etc.
</p>
</p>

{% endblock %}