﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Vision{% endblock %}

{%block content%}

     <h3>Vision</h3>
        <p>A University where all are engaged in creating learning opportunities for themselves and others to encourage development, growth and productivity to keep pace with the global trends and compete with the best known Universities of the world.</p>
        <p>A University which facilitates an education model that gears up better job opportunities.</p>
        <p>Aims at developing positive attitude, sound values and high standards alongwith professional proficiency.</p>
        

     <h3>Mission</h3>

        <p>To impart education which in its breadth and scope represents the main symbols in our logo viz. the rising sun, mountains, an open book, flame and flower patels.</p>
        <p>To help the students build self-confidence through disciplinary study and other co-curricular activities so as to lead them towards realizing their strengths and conviction.</p>
        <p>Develop talent for further contribution to sustainable growth in academics, administration, business, research, arts, craft and corporate world by focusing on organized thought, self-discipline, methodical and planned functioning and analytical ability.</p>
        <p>Encouraging inter-disciplinary approach to learning, team work, widening the area of research through participative and collaborative give and take with leading institutions for promoting optimum utilization of human resources adapting to and adopting innovative ideas and perspectives.</p>
        <p>Provide a hygienic, modern, environment friendly and vivacious campus attuned with the urgent needs of Green Technology.</p>
        <p>Play positive and interactive role to take care of the affairs of the people of surrounding areas and also to fulfill responsibility towards the society and nation at large.</p>

{% endblock %}

