﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|Cells{% endblock %}

{%block content%}

         <div class="col-sm-12">
     <div class="col-sm-1">
    
    </div>
         <a href="sc.cshtml">
         <div class="col-sm-10">
    <div class="big-button">
       <h4 style="color: white;text-align: left;margin-left: 2em;">SC/ST Cell</h4> 
      </div>
    </div>
         </a>
         <div class="col-sm-1">
    
    </div>
    </div>
         <div class="col-sm-12">
     <div class="col-sm-1">
    
    </div>
         <a href="women.cshtml">
         <div class="col-sm-10">
    <div class="big-button">
       <h4 style="color: white;text-align: left;margin-left: 2em;">Women/ Sexual Harassment Cell</h4> 
      </div>
    </div>
         </a>
         <div class="col-sm-1">
    
    </div>
    </div>
         <div class="col-sm-12">
     <div class="col-sm-1">
    
    </div>
         <a href="tnp.cshtml">
         <div class="col-sm-10">
    <div class="big-button">
       <h4 style="color: white;text-align: left;margin-left: 2em;">HR & Development Cell/Career Counseling, Training and Placement Cell</h4> 
      </div>
    </div>
         </a>
         <div class="col-sm-1">
    
    </div>
    </div>

{% endblock %}