﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|SC-ST Cell{% endblock %}

{%block content%}

 <h1> SC/ST Cell</h1>
<br><br>
<h3>Lisining Officer</h3>
<p>Prof. Tej Singh <br>
Contact No: 9416372012
</p>
<h3>Constitution</h3>
The constitution of SC/ST Cell Cell is as follows:
<ol>
<li>Prof. Tej Singh</li>
<li>Dr. Balkar Singh</li>
<li>Dr. Satish Kumar</li>
<li>Dr. Deepak Gupta</li>
</ol>

<h3>Mandate</h3>
<p>The Mandate of SC/ST Cell is to ensure, protect and promote the interest of person belonging to SC and ST Category.
</p>

<h3>Functions</h3>
<ol>
<li>To inform/assist them to avail various scholarship provided by the Government.</li>
<li>To sensitise the university community towards specific needs of the SC/ST person.</li>
<li>To formulate and execute policies for the capability development of SC/ST person like basic computer skills and remedial language classes.</li>
<li>To make available various laws and regulations related to welfare scheme and mechanism for SC/ST person.</li>
</ol>

{%endblock%}