﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU|TNP{% endblock %}

{%block content%}

       <h1> HR & Development Cell/Career Counseling, Training and Placement Cell</h1>
<p style="text-align: justify">
With the aim of ensuring the quality education and getting students placed in reputed organizations/institutes/NGOsIndira Gandhi University Meerpur  with it’s imbibe focus on the multidisciplinary approach strives hard for the development of overall personality of the students. With the objective to equip the students with all kind of employability skills so that they can be absorbed in the global job-market, a Career Counseling, HR & Development Cell/Career Counseling, Training and Placement Cell has been constituted in the University.
</p>
<p>The constitution of <b>HR & Development Cell/Career Counseling, Training and Placement Cell</b> is as follows:</p>
<ol>
<li>Prof. Tej Singh	Convener,9416372012</li>
<li>Prof. Manju Pruthi</li>
<li>Dr. Satish Kumar</li>
<li>Dr. Deepak Gupta</li>
<li>Dr. Vijay Hooda</li>
<li>Dr. Vikas Batra</li>
<li>Dr. Seema Mehlawat</li>
<li>Dr. Rajkumar</li>
<li>Sh. Rajender</li>
</ol>
<p>The objectives of the cell are as follows:</p>
<ol>
<li>To prepare the students for successful performance in various competitive exams.</li>
<li>To organize programmes for personality development and communication skills.</li>
<li>To organize various activities for opportunity creation and skill development for students</li>
</ol>
<p style="text-align: justify">The cell aims to facilitate students in the matter of job and employment opportunities as well as to add values in the employable skills and knowledge which can be imparted to the students as per the requirement of the ongoing programs in the university. 
</p>

{% endblock %}