﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Sexual Harassment Cell{% endblock %}

{%block content%}

<h1>Women/ Sexual Harassment Cell</h1>

<h3>Objectives</h3>
<p style="text-align: justify">The women cell is established in the university as per the direction issued by the Supreme Court and MHRD to provide and maintain a dignified, congenial working environment for women employees including teaching, non-teaching.  Women are always treated as receiving end in the society. In every sphere of life they are denied for their social, cultural, economic, legal, political and religious rights.. University being a knowledge hub has responsibility of social sensitivity and awareness on its shoulders.

 The Cell has following objectives (although the list is not exhaustive):</p>
<ul>
<li>To provide empathetic counseling environment for psychological empowerment to students and local women about their problems which they cannot share easily.</li>
<li>To analyze underlying causes through research to women discrimination and to generate awareness.</li>
<li>To development gender sensitive curriculum according to regional and national demands.</li>
<li>The forms of various government schemes for the welfare of women and girl child will be available free of cost and members will help to fill those forms.</li>
<li>To combine knowledge and practice by facilitating discussion of the latest in analysis and approaches to women's equality from both academic and community-based participants, from a rich variety of perspectives – by creative deconstruction of women's experiences.</li>
<li>To sensitize the women students of University and society about their individual growth like nutrition, health, hygiene and sanitation.</li>
</ul>

<h3>Constitution</h3>
The constitution of Women/ Sexual Harassment Cell is as follows:
<ol>
<li>Prof. Manju Pruthi  </li>(Convener)		Contact no: 9416237281
<li>Dr. Romika Batra</li>
<li>Dr. Sonu Madan</li>
<li>Dr. Aditi</li>
</ol>        

{% endblock %}