﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Contact Us{% endblock %}

{%block content%}

       <h1> Indira Gandhi University </h1>

V.P.O-Meerpur, Rewari

<br>Haryana

,122502

<br>Phone -01274-248753,


<br>Fax:- 01274-248753

<br>E-Mail:- admission2017@igu.ac.in , universityindiragandhi@gmail.com 

{% endblock %}