{% extends 'mainlayout.html' %}
{% load staticfiles %}

{% block slider %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>  
    </ol>

    <!-- Wrapper for slides -->
    
    <div class="carousel-inner" role="listbox">
      {%for image in slider%}
      
      <div class="item ">
        <img src={{image.image.url}} alt="Chania" width="933" height="381">
        <div class="carousel-caption">
          <p></p>
        </div>
      </div>
      
      {% endfor%}
         <div class="item active">
        <img src="{% static 'slider/a1.png' %}" alt="VC-IMG" width="933" height="381">
        <div class="carousel-caption">
          <p></p>
        </div>
      </div>
      <!--
      <div class="item">
        <img src="{% static 'slider/3.jpg' %}" alt="Chania">
      </div>
    <div class="item">
        <img src="{% static 'slider/123.jpg' %}" alt="Chania">
      </div>
      <div class="item">
        <img src="{% static 'slider/1.jpg' %}" alt="Flower">
        <div class="carousel-caption">
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'slider/2.jpg' %}" alt="Flower">
       -->  <!--<div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
   
      </div> 
   -->
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

{% endblock %}                       
{% block content %}                      
         <div class="col-sm-12" style="margin-top: 2em;">
                     
                        <div class="col-sm-12">
                        <div class="col-sm-4">
                        <div class="col-sm-12">
                      
                            <div class="col-sm-12">
                        <img alt="vc" style="width:100%;box-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.40);padding: 0.3em;" src="{% static 'img/ch.jpg' %}"/>
                     </div>
                            
                        </div>
                            <div class="col-sm-12" style="text-align: center;">
                            <a href="@Href("~/Pages/Administration/Chancellor.cshtml")">
                                <h5><b>Prof. Kaptan Singh Solanki</b></h5>
                                <h5><b>Chancellor</b></h5>
                            </a>
                            </div>
                     </div>
              <div class="col-sm-4">
                        <div class="col-sm-12">
                      
                            <div class="col-sm-12">
                        <img alt="vc" style="width:100%;box-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.40);padding: 0.3em;" src="{% static 'img/vc.jpg' %}"/>
                     </div>
                            
                        </div>
                            <div class="col-sm-12" style="text-align: center;">
                               <a href="@Href("~/Pages/Administration/ViceChancellor.cshtml")">
                                <h5><b>Prof.(Dr) S.P. Bansal</b></h5>
                                <h5><b>Vice-Chancellor</b></h5>
                                </a>
                            </div>
                     </div>
             <div class="col-sm-4">
                        <div class="col-sm-12">
                      
                            <div class="col-sm-12">
                        <img alt="vc" style="width:100%;box-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.40);padding: 0.3em;" src="{% static 'img/reg.jpg' %}"/>
                     </div>
                            
                        </div>
                            <div class="col-sm-12" style="text-align: center;">
                               <a href="@Href("~/Pages/Administration/Registrar.cshtml")">
                                <h5><b>Dr. Madan Lal</b></h5>
                                <h5><b>Registrar</b></h5>
                                </a>
                            </div>
                     </div>
                        </div>

             <div class="col-sm-12">
             <h4 >From the Desk of Vice-Chancellor</h4>
                 <p style="text-align: justify;">Welcome to Indira Gandhi University Meerpur, Rewari, (Haryana) a newly established state University under Indira Gandhi University Meerpur Haryana ordinance of 2013 published in the gazette of Haryana on 7th September, 2013. The visionary idea of Pandit Madan Mohan Malviya, whose name is linked with higher education in India, forms the foundation principle of this University.
                 <a href="@Href("~/Pages/Administration/ViceChancellor.cshtml")">Read more...</a>
                 </p>
             </div>
                          
                        </div>
{% endblock %}