﻿{% extends 'mainlayout.html' %}
{% load staticfiles %}
{% block title%}IGU | Central Library{% endblock %}

{%block content%}

      <h3>Central Library</b></h3>
<p style="text-align: justify;">The University Library System comprises a central library, strategically located, with excellent state-of -the art computer facilities and stress free environment. The library system, with the elegance, provides support for the academic and research pursuits. It has a rich collection of knowledge resources, volumes of books & volumes of journals. Besides, many Indian and foreign journals of repute are subscribed in print form. Online access is provided to the e-Journals through UGC- Info net facility, IEEE, Open ournals. All the divisions / sections of the library have their own PCs for data entry and other routine jobs. The library has its own Internet with connectivity to the Campus Network for providing access to its own database & e-resources. The air-conditioned Internet lab of the Library, having 60 Internet connected computer terminals with a bandwidth connectivity of 1 Gbps, provides access to e-journals and other e-resources. Application of RFID technology for check-out check-in and CCTV are installed for security purpose. Photocopying service is another step towards bridging the gap between the knowledge seekers and the knowledge resources. The University is planning to invest over Rs.100 lacs annually on the enrichment of knowledge base, besides having substantial recurring and nonrecurring budget for other library activities including upgradation of existing facilities. Building of a new library with the name Bal Mukand Gupt Library is under construction which will be available to the studnets after a few months with all the latest facility.</p>

{% endblock %}